@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login {
    background: linear-gradient(rgba(30, 92, 85, 1), rgba(0, 30, 45, 1));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Noto Sans", sans-serif;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.logo img {
    width: 250px;
    height: 200px;
}

.conteiner {
    background-color: rgba(4, 31, 25, 1);
    border-radius: 40px;
    height: auto;
    width: 55%;
    padding: 0px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alternativas{
    margin-bottom: 20px;
    display: flex;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    text-decoration: none;
}
.alternativas a:visited {
    /* text-align: center; */
    width: 100%; 
    text-decoration: none;
    color: whitesmoke;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0px;
}

.inputDoConteiner {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.inputDoConteiner i#icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(19, 154, 137, 1);
    font-size: 18px;
}

.inputDoConteiner input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(4, 31, 25, 1);
    font-size: 15px;
    font-weight: bold;
    border: none;
}

#paginaPrincipal {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 40px;
    background-color: rgba(19, 154, 137, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
#registro{
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 40px;
    background-color: rgba(37, 77, 81, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media (max-width: 926px) {
    .logo img {
        width: 200px;
        height: 170px;
    }

    .inputDoConteiner {
        width: 100%;
        margin-bottom: 10px;
    }

    .inputDoConteiner i#icon {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(19, 154, 137, 1);
        font-size: 15px;
    }

    .inputDoConteiner input {
        width: 100%;
        padding: 10px 10px 10px 40px;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, 1);
        color: rgba(4, 31, 25, 1);
        font-size: 12px;
        font-weight: bold;
        border: none;
        height: 28px;
    }

}

/* PAGINA PRINCIPAL*/
.barraSuperior {
    z-index: 1000;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    background-color: rgba(30, 92, 85, 1);
}

.logoBarra {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logoBarra img {
    width: 200px;
    height: 180px;
}

.barraPesquisa {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    height: 30px;
    width: 350px;
    position: relative;

}

.barraPesquisa input {
    position: absolute;
    border-radius: 25px;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    border: none;
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
    color: rgb(26, 32, 49);
}

input::placeholder {
    color: rgb(26, 32, 49);
    opacity: 1;
}

.barraPesquisa i {
    position: absolute;
    right: 15px;
    font-size: 14px;
    color: rgb(26, 32, 49);
    margin-left: 10px;
}

.linhaDivisoria {
    width: 100%;
    height: 3px;
    background-color: whitesmoke;
    position: fixed;
    top: 80px;
    left: 0;
}

@media (max-width: 926px) {
    .logoBarra img {
        width: 150px;
        height: auto;
    }
}

@media (max-width: 800px) {
    .logoBarra img {
        width: 100px;
        height: auto;
    }

    .barraSuperior {
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }
}

@media (max-width: 926px) {
    .logoBarra img {
        width: 150px;
        height: auto;
    }
}
/*CENTRO*/
#Centro{
    height: 100%;
    padding-top: 100px; /* Mesmo valor da altura da barraSuperior */
    background: linear-gradient(rgba(30, 92, 85, 1), rgba(0, 30, 45, 1));
    
}
.rolagem{
    position: relative;
    min-height: 100%;
    /* background: linear-gradient(rgba(30, 92, 85, 1), rgba(0, 30, 45, 1)); */
    
    display: flex;
    flex-direction: column;
    
}
.personals{
    padding: 0px 100px 200px 40px;
}

/*FOOTER*/
footer {
    width: 100%;
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.footerContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}

.footerLista {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    transition: transform 0.3s ease;
}
.item:hover {
    transform: scale(1.05);
}


.imagensDevs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footerLista .item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLista p {
    margin-top: 0.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.imgFeios {
    height: 100px;
    width: 100px;
    border-radius: 80px;
}

.infContato {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 1rem;
    margin-left: 3rem;
    text-decoration: none;
    color: whitesmoke;
}

.subir {
    top: 0;
    flex: 1;
    left: 0;
    display: flex;
    margin-top: 20px;
    justify-content: center;

    text-decoration: none;
    color: whitesmoke;
}
.subir:hover {
    transform: scale(1.02);
}

.subir a {
    text-align: center;
    width: 100%; 
    text-decoration: none;
    color: whitesmoke;
}
.subir a:visited {
    text-align: center;
    width: 100%; 
    text-decoration: none;
    color: whitesmoke;
}

.infContato a:visited{
    color: whitesmoke;
}

@media (max-width: 879px) {
    .footerLista {
        flex-direction: column;
        align-items: center;
    }
    .personals{
        min-height: 100%;
        padding: 0px 30px 810px 20px;
    }
    footer {
    height: 800px;

    }
    .imagensDevs{
        margin-left: 10px;
    }

    .footerLista .item {
        width: 100%;
        text-align: center;
    }

    .imgFeios {
        height: 80px;
        width: 80px;
    }

    .infContato {
        width: 0;
        margin-right: 10px;
        padding: 10px 10px 10px 10px;
    }
    .infContato h2,
    .infContato a {
        display: flex;
        flex-direction: column;
    }
    .infContato {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 250px;
    }
    .subir {
        top: 0;
        flex: 1;
        left: 0;
        display: flex;
        align-items: normal;
        margin-top: 40px;
    }
    
    
}
@media (max-width: 459px) {
    .footerLista {
        flex-direction: column;
        align-items: center;
    }
    .footerContent{
        width: 100%;
        flex-wrap: nowrap;
        
    }
    .personals{
        min-height: 100%;
        padding: 0px 30px 760px 30px;
    }
    footer {
    height: 750px;

    }
    .imagensDevs{
        font-size: 15px;
        margin-left: 0px;
    }

    .footerLista .item {
        width: 100%;
        text-align: center;
    }

    .imgFeios {
        height: 70px;
        width: 70px;
    }

    .infContato {
        margin: 0;
        font-size: 10px;
        width: 0;
    }
    .infContato h2,
    .infContato a {
        display: flex;
        flex-direction: column;
    }
    .infContato {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 250px;
    }
    .subir {
        top: 0;
        flex: 1;
        left: 0;
        display: flex;
        align-items: normal;

    }
    .presentation .ft {
        width: 90px !important;
        height: 90px !important;
    }
    
}
/* CEntro*/
.presentation {
    display: flex;
    align-items: center;
    background-color: rgba(217, 217, 217, 1);
    border-radius: 40px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.presentation:hover {
    transform: scale(1.02);
}

.presentation .ft {
    border-radius: 80px;
    margin-right: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.presentation .text .tt {
    margin-bottom: 10px;
    font-size: 22px;
    color: rgba(4, 31, 25, 1);;
}

.presentation .text li {
    margin-left: 35px;
    margin-bottom: 5px;
    color: rgba(4, 31, 25, 1);;
    line-height: 1.5;
}
